:host {
    display: flex;
    height: 100%;
}

aside#snippets {
    flex: 1 0 300px;
    padding: 16px;
    border-right: 1px solid #333;
}

aside>* {
    place-self: baseline;
}

main {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
}

section#editor {
    height: 40%;
    display: flex;
    flex-direction: column;
}

section#editor>ngx-monaco-editor {
    margin-bottom: -5px;
    flex: 1 0;
}

section#conversation {
    border-top: 1px solid #333;
}