<aside id="snippets">
    <pro-snippets></pro-snippets>
</aside>
<main>
    <section id="editor">
        <pro-tabs [isLoading]="isLoading" (requestCopy)="onRequestCopy()"
            (requestDownload)="onRequestDownload()"></pro-tabs>
        <ngx-monaco-editor [options]="editorOptions" [ngModel]="promptsService.currentTemplateContent()"
            (ngModelChange)="promptsService.setCurrentTemplateContent($event)" (onInit)="onInit()">
        </ngx-monaco-editor>
    </section>
    <section id="conversation">
        <pro-conversation>
            <pro-prompt-preview [code]="promptsService.currentTemplateContent()"> </pro-prompt-preview>
        </pro-conversation>
    </section>
</main>