<nz-tabset [nzSelectedIndex]="selectedIndex()" nzType="editable-card" (nzAdd)="onAdd()" (nzClose)="onClose($event)"
    nzSize="small" [nzAnimated]="false" (nzSelectedIndexChange)="onSelectedIndexChange($event)">
    @for (prompt of prompts(); track $index) {
    <nz-tab nzClosable [nzTitle]="title">
        @if (isLoading) {
        <p style="padding-left: 14px;">Loading...</p>
        } @else {
        <div style="display: flex; justify-content: space-between; padding: 0 14px;">
            <p>prompt > {{ prompt.name }}</p>
            <div>
                <button nz-button [nz-tooltip]="'Copy ' + prompt.name + ' as single line'" nzType="link" nzSize="small"
                    (click)="requestCopy.emit()">
                    <span nz-icon nzType="copy"></span>
                </button>
                <button nz-button [nz-tooltip]="'Download ' + prompt.name + ' as file'" nzType="link" nzSize="small"
                    (click)="requestDownload.emit()">
                    <span nz-icon nzType="download"></span>
                </button>
            </div>
        </div>
        }
    </nz-tab>
    <ng-template #title>
        <span proMouseEvents (middleMouseClick)="onMiddleMouseClick($index)">{{prompt.name}}</span>
    </ng-template>
    }
</nz-tabset>